<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Détails de la location</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <ion-img [src]="themeCover"></ion-img>
</ion-content>
