<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="secondary"></ion-menu-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button size="small" shape="round" color="dark">
        <ion-icon name="notifications"></ion-icon>
        <ion-badge color="secondary" slot="end">2</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="light">
    <ion-searchbar [(ngModel)]="searchKey"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngFor="let x of habitationList;let i=index" class="bg-white">
    <ion-img [src]="themeCover"></ion-img>
    <ion-button expand="full" color="secondary" (click)="openDetailHabitation(x.id)" no-margin>
      {{x.title_habitation}}
    </ion-button>
  </ion-card>
</ion-content>
