<ion-list no-padding no-margin>
    <ion-list-header color="secondary">
      <ion-label class="fw700">Notifications</ion-label>
    </ion-list-header>

    <ion-item color="primary" class="text-10">
      <ion-icon name="mail" color="dark"></ion-icon>
      <ion-label color="dark" style="margin-left: 10px;">New Offer 25% OFF</ion-label>
    </ion-item>

    <ion-item color="primary" class="text-10">
      <ion-icon name="mail-open" color="dark"></ion-icon>
      <ion-label color="dark" style="margin-left: 10px;">New Offer 15% OFF by month!</ion-label>
    </ion-item>

    <ion-item color="primary" class="text-10">
      <ion-icon name="mail-open" color="dark"></ion-icon>
      <ion-label color="dark" style="margin-left: 10px;">New Offer 10% OFF by month!</ion-label>
    </ion-item>

    <ion-item color="primary" class="text-10">
      <ion-icon name="mail" color="dark"></ion-icon>
        <ion-label color="dark" style="margin-left: 10px;">New Offer 10% OFF by month!</ion-label>
    </ion-item>

  </ion-list>
